<!-- Generated template for the HeaderMenuComponent component -->
<div>
  <ion-buttons start>
    <button ion-item icon-only (click)="TelaPage">

      <ion-icon ios="ios-home" md="md-home"></ion-icon> Início
    </button>
  </ion-buttons>
  <ion-buttons start>
    <button ion-item item icon-only (click)="openPage(homePage)">
      <ion-icon ios="ios-people" md="md-people"></ion-icon> Conta
    </button>
  </ion-buttons>

  <ion-buttons start>
    <button ion-item item icon-only (click)="openPage(homePage)">
      <ion-icon ios="ios-card" md="md-card"></ion-icon> Informações sobre o cartão
    </button>
  </ion-buttons>
  <ion-buttons start>
    <button ion-item item icon-only (click)="openPage(homePage)">
      <ion-icon ios="ios-bus" md="md-bus"></ion-icon> BusPass
    </button>
  </ion-buttons>

</div>
